@model SCS.Models.Roles

@{
    ViewData["Title"] = "Editar Rol";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" />
    <style>
        .logo-container {
            position: fixed;
            top: 20px;
            right: 40px;
            z-index: 1000;
            padding: 5px;
            border-radius: 8px;
        }

            .logo-container img {
                width: 230px;
                height: auto;
            }
    </style>
</head>
<body>
    <div class="logo-container">
        <img src="/imagen/logo.png" alt="Intel Logo" />
    </div>
    <div class="container content-spacing">
        <div class="card">
            <div class="card-header text-center">
                <h2>Editar Rol</h2>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Id_roles" />
                    <div class="mb-3">
                        <label asp-for="Rol" class="form-label"></label>
                        <input asp-for="Rol" class="form-control" />
                        <span asp-validation-for="Rol" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-floppy-disk"></i> Guardar Cambios
                    </button>
                    <a class="btn btn-secondary" href="@Url.Action("Index", "Roles")"> <i class="fa-solid fa-rotate-left"></i> Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <strong>&copy; 2024 - SCS</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5a833361a2.js" crossorigin="anonymous"></script>
</body>
</html>
